
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Twitter</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Accueil</a>
      <a class="p-2 text-dark" href="{{ path('profile', {'profileId': app.user.id}) }}">Mon profil</a>
      {% if is_granted('ROLE_ADMIN') %}
          <a class="p-2 text-dark" href="/admin/user">Gestion Utilisateurs</a>
      {% endif %}
    </nav>
        <form class="form-inline mt-2 mt-md-0" action="{{ path('search') }}">
            <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-outline-primary" href="/logout">Se déconnecter({{app.user.username}})</a>
      {% else %}
        <a class="btn btn-outline-primary" href="/login">Se connecter</a>
      {% endif %}  
</div>