{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<section class="login-block">
    <div class="container">
        <div class="col-md login-sec">
            <h2 class="text-center">Mise à jour du profil</h2>

            {{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

            <a  href="{{ path('user_index') }}">
                    <button class="btn btn-info btn-sm ">Retour</button>
            </a>

            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
